---
import { actions } from "astro:actions";
import Layout from "../layouts/Layout.astro";

const user = Astro.locals.user;
---

<Layout>
  <main>
    {user ? <h1>Hello {user.name}, you are logged in</h1> : <h1>You are not logged in</h1>}
    {
      user ? (
        <form action={actions.auth.logout} method="post">
          <input type="email" name="email" value={user.email} hidden />
          <button type="submit">Logout</button>
        </form>
      ) : (
        <>
          <a href="/login">Login</a>
          <br />
          <a href="/register">Register</a>
        </>
      )
    }
  </main>
</Layout>

<style>
  a {
    font-size: 2rem;
  }

  main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
