---
import Layout from "../layouts/Layout.astro";
import { actions } from "astro:actions";

const result = Astro.getActionResult(actions.auth.login);

const user = Astro.locals.user;
if (user) return Astro.redirect("/");
---

<Layout>
  <main>
    <form action={actions.auth.login} method="post">
      <h1>Login</h1>
      <label for="email">Email:</label>
      <input type="email" id="email" name="email" required />
      <br />
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
      <br />
      <button type="submit">Login</button>
    </form>

    {result?.error && <p class="error">{result.error.message}</p>}
  </main>
</Layout>

<style>
  main {
    padding: 2rem;
    max-width: 800px;
    margin: 0 auto;
  }
</style>
